<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Pass Note</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="/images/passnoteLogo.png" alt="logo for Pass Note">
        {{^user}}<a href="/login"></a>
        <a href="/Signup"></a>{{/user}}
        {{#user}}<a href="logout"></a>{{/user}}
      </nav>
    </header>
