<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <title>Pass Note</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="Public/Images/passnoteLogo.png" alt="logo for Pass Note">
        <a href="/Login"></a>
        <a href="/Signup"></a>
        <a href="Logout"></a>

      </nav>
    </header>
