{{_header}}
  <form class="" action="/Compose" method="post">
    <input type="text" name="to" value="" placeholder="to">
    <input type="text" name="title" value="" placeholder="Subject">
    <textarea></textarea>
  </form>
{{_footer}}
