{{>_header}}
    <div class = "top-section">
        <img href="{{avatar}}">
        <form class = "searchMessages" action = "#" method = "POST">
        <input type = "text" placeholder= "Search your notes!">
        <input type = "submit" value = "Search!">
        </form>
        <a href = "/logout"><button>Logout</button></a>
    </div>
    <div class = "bottom-left">
        <a href = "/contacts"><button>View all Contacts!</button></a>
        <br>
        <a href = "/compose"><button>Compose a new Message!</button></a>
    <div class="">

        <div class = "messages">
            {{^messages}}
            <h2>No new notes at this time! Hit compose to start a new one.</h2>
            {{/messages}}
            {{#messages}}
              {{>_message}}
            {{/messages}}
            <p>Copyright SEC Services 2017</p>
          </div>
    </div>
{{>_footer}}
