{{_header}}
    <h1>PassNote 2017</h1>
      <form class="" action="/Login" method="post">
        <input type="text" name="Username" value="" placeholder="Username">
        <input type="password" name="Password" value="" placeholder="Password">
      </form>
      <p>Not a user? Sign up <a href="/Signup">here</a></p>
{{_footer}}
