{{>_header}}
{{#message}}
{{>_add-message}}
{{/message}}
    <form class="pass-add" action="/inbox/pass" method="POST">
        <input type="text" name="id" value="{{message._id}}" class="hidden" readonly>
        <input class = "add-others" type="text" name="newUser" value="" placeholder="Add Others...">
        <textarea name="body" rows="8" cols="80" placeholder="Add message..."></textarea>
        <button type="submit" name="button">Pass Note</button>
    </form>
{{>_footer}}
