{{>_header}}
{{>_message}}
    <form class="" action="/pass-add" method="POST">
        <input type="text" name="newUser" value="" placeholder="to">
        <textarea name="body" rows="8" cols="80" placeholder="Message..."></textarea>
        <button type="submit" name="button">Pass Note</button>
    </form>
{{>_footer}}
