{{_header}}
  <form class="" action="/Signup" method="POST">
    <input type="text" name="Name" value="" placeholder="Name">
    <input type="text" name="Username" value="" placeholder="Username">
    <input type="password" name="Password" value="" placeholder="Password">
    <input type="text" name="Avatar" value="" placeholder="Image URL">
  </form>
{{_footer}}
