{{>_header}}
<div class="top-section">
  <img href="{{avatar}}">
    <h1>All Contact Information</h1>
  <a href="/logout"><button>Logout</button></a>
  <a href="/inbox"><button>Back to Inbox</button></a>  
</div>
<div class="bottom-section">
  <div class="left">
    <a href="/addcontact"><button>Add New Contact</button></a>
    <br>
  </div>
  <div class="right">
    {{^allUsers}}
    <h4>You have no contacts at this time! Click add new contact to add one.</h4>
    {{/allUsers}}
    {{#allUsers}}
      <h2>Username: {{username}}</h2>
    {{/allUsers}}
    <p>Copyright SEC Services 2017</p>
  </div>


</div>
{{>_footer}}
