body {
  margin: auto;
  /*background-color: red;*/
}

.wrapper {
  display: flex;
  flex-direction: column;
}


.login-container {
  text-align: center;
}


img.logo {
max-width: 400px;
display: flex;
justify-content: center;
margin: auto;
padding-bottom: 20px;
}

.signup {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.top-section {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  padding-top: 20px;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  width: 255;
  width: 25%;
  padding-top: 50px;
}

.hidden {
  display: none;
}
